h1 { font-weight: bold; position: center; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align: center; }
h2 { font-size: 18px; margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px; text-align: center; }
h5 { font-weight: bold; font-size: 24px; margin: 20px 0px 0px 0px; padding: 0px 0px 0px 0px; }
h4 {font-style: italic; font-size: 16px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
h3 { font-weight: bold; font-size: 20px; margin: 20px 0px 0px 0px; padding: 0px 0px 0px 0px; }
ul {margin-top: 2px;}
